* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-image: url('./img/standard.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.hot {
  background-image: url('./img/hot.jpg');
}

.cold {
  background-image: url('./img/cold.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 1.5rem;
}

.searchBox {
  width: 100%;
  margin: 0 0 1rem;
}

.searchBox .searchBar {
  display: block;
  width: 100%;
  padding: 1rem;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 1rem 1rem;
  margin-top: -1.5rem;

  box-shadow: 0 0.3rem rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 1.25rem;

  transition: 0.4s ease;
}

.searchBox .searchBar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.locationBox .location {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 0.2rem 0.2rem rgba(50, 50, 70, 0.5);
}

.locationBox .date {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 0.18rem 0.18rem rgba(50, 50, 70, 0.5);
}

.weatherBox {
  text-align: center;
}

.weatherBox .temperature {
  position: relative;
  display: inline-block;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;

  padding: 1rem 1.5rem;

  color: #fff;
  font-size: 5rem;
  font-weight: 900;

  text-shadow: 0.18rem 0.37rem rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 0.18rem 0.37rem rgba(0, 0, 0, 0.2);
}

.weatherBox .weather {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0.18rem 0.18rem rgba(50, 50, 70, 0.5);
  text-transform: capitalize;
}

.errorBox {
  text-align: center;
  font-size: 1.25rem;
  color: red;
  font-weight: 600;
}

@media (min-width: 460px) {
  .searchBox {
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
  }
}

@media (min-width: 600px) {
  .searchBox {
    width: 70%;
  }

  .locationBox .location {
    font-size: 2.25rem;
  }
}

@media (min-width: 800px) {
  .searchBox {
    width: 55%;
  }
}